<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <p class="copyright text-muted">Copyright &copy; BlogSimple @DateTime.Now.Year</p>
        </div>
    </div>
</footer>