@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p>Thank you for confirming you email. Click <a asp-controller="Admin" asp-action="Index" title="Manage">here</a> to login now!</p>