
@model BlogSimpleMVC.ViewModels.AboutViewModel
@{ ViewData["Title"] = "Update Your About Me"; }

<div class="container-fluid">
    <h1 class="mt-4">About Me</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <form asp-controller="Admin" asp-action="UpdateAbout" method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <i class="fas fa-pen-fancy mr-1"></i>
                        Update your About me info!
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="HeaderImage"></label>
                            <div class="custom-file">
                                <input asp-for="HeaderImage" class="custom-file-input" accept="image/*" />
                                <label class="custom-file-label">Choose file</label>
                            </div>
                            <span asp-validation-for="HeaderImage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LinkedIn"></label>
                            <input asp-for="LinkedIn" class="form-control" />
                            <span asp-validation-for="LinkedIn" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Twitter"></label>
                            <input asp-for="Twitter" class="form-control" />
                            <span asp-validation-for="Twitter" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Facebook"></label>
                            <input asp-for="Facebook" class="form-control" />
                            <span asp-validation-for="Facebook" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PortfolioWebsite"></label>
                            <input asp-for="PortfolioWebsite" class="form-control" />
                            <span asp-validation-for="PortfolioWebsite" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SubHeader"></label>
                            <input asp-for="SubHeader" class="form-control" />
                            <span asp-validation-for="SubHeader" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Content"></label>
                            <textarea asp-for="Content" class="form-control" id="editor" rows="8"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <button type="button" class="btn btn-secondary float-right" data-toggle="modal" data-target="#confirmationPopup" onclick="initializeConfirmationPopupRouteIdForView('@Model.ApplicationUser.Id')">
                                View
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/Popups/_ConfirmationPopup.cshtml", new BlogSimpleMVC.ViewModels.AboutViewModel())

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>CKEDITOR.replace('editor');</script>
    <script>const confirmationPopupForm = document.querySelector('#confirmationPopupForm');

        function initializeConfirmationPopupRouteIdForView(authorId) {
            confirmationPopupForm.action = `/Home/Author?authorId=${authorId}`;
        }</script>
}